name: Deploy Telegram Bot

on:
  push:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Deploy to Server
      run: |
        rsync -avz -e "ssh -o StrictHostKeyChecking=no" ./ root@79.137.206.158:/home/astro_bot/
        ssh -o StrictHostKeyChecking=no root@79.137.206.158 "sudo systemctl restart your-service.service"